.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}




.App-header {
  background-color: var(--body_background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--body_color);
}

.header-text {
  color: var(--body_color);
}

.input-search {
  background-color: var(--body_background);
  color: var(--body_color);
}



