@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body_background: white;
    --body_color: black;
}

[data-theme="dark"] {
    --body_background: #282c34;
    --body_color: white;
}

